<p id="notice"><%= notice %></p>

<h1>Paper Management System</h1>
You are seeing the rendered view of 'views/home/index.html.erb'

<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'authors' %>